@import "/src/stylesheets/variables";

.navbar {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: auto;
  max-width: 90vw;
  position: relative;
  padding-bottom: 40px;
  width: 100%;
  gap: 2em;
}

nav {
  align-items: center;
  background-color: white;
  border-radius: 0.75rem;
  box-shadow: $container-shadow;
  display: flex;
  justify-content: center;
  padding: .5em 1.5em 1.75em 1.5em;
  position: relative;

  a {
    color: black;
    display: inline-flex;
    font-size: 0.85em;
    font-weight: 600;
    text-decoration: none;
    transition: $smooth;
    &:hover {
      color: $lightblue;
      font-size: 0.95em;
    }
    &.active {
      color: $darkblue;
    }
    &.active:hover {
      transition: none;
    }
  }

  ul {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    font-size: larger;
    gap: 1.75em;
    justify-content: center;
    list-style: none;
    line-height: 1.5%;
    margin-bottom: 0;
    padding-left: 0%;
  }
}

.icon-closed {
  width: 50px;
  height: 50px;
  position: relative;
  z-index: 3;
  border-radius: 0.65rem;
  box-shadow: $container-shadow;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: $smooth;

  i {
    transform: scale(1.2);
    transition: $smooth;
  }

  &::before,
  &::after {
    content: "";
    display: block;
    position: absolute;
  }
}

.icon-open {
  width: 9rem;
  height: fit-content;
  border-radius: $container-radius;
  position: absolute;
  background: white;
  z-index: 2;
  padding: 0.5em .75em;
  box-shadow: $container-shadow;
  opacity: 0;
  transform: translateY(-15%);
  top: 80px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  transition: all 0.3s ease-out;
  
  i {
    margin-right: 10px;
    transform: scale(1em);
    &:hover {
      opacity: 100%;
    }
  }

  a {
    text-decoration: none;
    color: $darkblue;
    opacity: 75%;
    transition: $smooth;
    font-weight: 550;
    margin-block: .15em;
    &:hover {
      opacity: 100%;
      color: $gold;
      font-weight: 700;
    }
  }

}

// dropdown menu
.navbar input {
  cursor: pointer;
  position: absolute;
  z-index: 5;
  opacity: 0;
  margin-top: 1.15em;
  width: 3.15em;
  transform: scale(1.75);

  &:checked {
    ~ .icon-open {
      opacity: 1;
      transform: translateY(0%);
      animation: open-animation 0.3s ease-in-out;
    }
    ~.icon-closed {
      animation: wiggle 0.65s ease-in-out;
      i {
        color: $darkblue;
      }
    }
  }

  &:hover {
    ~ .icon-closed i {
      color: $gold;
    }
  }
}