@import url("https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&family=Didact+Gothic&family=MuseoModerno:ital,wght@0,100..900;1,100..900&family=Parkinsans:wght@300..800&display=swap");

$container-shadow: 0rem 0rem 0.875rem 0rem rgba(81, 117, 143, 0.4);
$container-radius: 0.75rem;
$smooth: all 0.25s ease-in-out;