@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&family=Didact+Gothic&family=MuseoModerno:ital,wght@0,100..900;1,100..900&family=Parkinsans:wght@300..800&display=swap');


:root {
    padding: 2vmax;
    overflow: auto;
    /* cursor: url(https://cur.cursors-4u.net/nature/nat-10/nat997.cur), auto !important; */
}

body {
    font-family: "Archivo", Arial, Helvetica, sans-serif !important;
}

/* navigation bar */
.navbar {
    align-items: center;
    box-sizing: border-box;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    margin: auto;
    max-width: 90vw;
    position: relative;
    padding-bottom: 40px;
    width: 100%;
}

nav {
    align-items: center;
    background-color: white;
    border-radius: 0.75rem;
    box-shadow: 0rem 0rem 0.875rem 0rem rgba(81, 117, 143, 0.4);
    display: flex;
    justify-content: center;
    padding: 1.75em 1.5em 1.75em 1.5em;
    position: relative;
}

nav > ul {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    font-size: larger;
    gap: 1.75em;
    justify-content: center;
    list-style: none;
    line-height: 1.5%;
    margin-bottom: 0;
    padding-left: 0%;
}

nav a {
    color: black;
    display: inline-flex;
    font-size: .85em;
    font-weight: 600;
    text-decoration: none;
    transition: all 0.25s ease-in-out;
}

nav a:hover {
    color:#55b0f0;
    font-size: 0.95em;
}

nav a.active {
    color: #2087d0;
}

/* home page */
.home {
    text-align: center;
}


/* charts */
.charts {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    gap: 1.5em;
    align-items: flex-start;
}


.charts .card {
    width: 15rem;
    transition: all .25s ease-in-out;
    filter: grayscale(.75);
}

.charts .card:hover {
    transform: scale(1.05);
    filter: grayscale(0);
}