@import url("https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&family=Didact+Gothic&family=MuseoModerno:ital,wght@0,100..900;1,100..900&family=Parkinsans:wght@300..800&display=swap");

$container-shadow: 0rem 0rem 0.875rem 0rem rgba(81, 117, 143, 0.4);
$container-radius: 0.75rem;
$smooth: all 0.25s ease-in-out;

@keyframes open-animation {
  0% {
    opacity: 0;
    transform: translateY(-15%);
  }
  100% {
    opacity: 100;
    transform: translateY(0%);
  }
}

@keyframes close-animation {
  0% {
    opacity: 100;
    transform: translateY(0%);
  }
  100% {
    opacity: 0;
    transform: translateY(-15%);
  }
}

@keyframes wiggle {
  0% {
    transform: rotate(10deg);
  }
  25% {
    transform: rotate(-3deg);
  }
  50% {
    transform: rotate(5deg);
  }
  75% {
    transform: rotate(0deg);
  }
}

:root {
  padding: 2vmax;
  overflow: auto;
  cursor: url(https://cur.cursors-4u.net/nature/nat-10/nat997.cur), auto !important;
}

body {
  font-family: "Archivo", Arial, Helvetica, sans-serif !important;
}

/* navigation bar */
.navbar {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: auto;
  max-width: 90vw;
  position: relative;
  padding-bottom: 40px;
  width: 100%;
  gap: 2em;
}

nav {
  align-items: center;
  background-color: white;
  border-radius: 0.75rem;
  box-shadow: $container-shadow;
  display: flex;
  justify-content: center;
  padding: 1.75em 1.5em 1.75em 1.5em;
  position: relative;

  a {
    color: black;
    display: inline-flex;
    font-size: 0.85em;
    font-weight: 600;
    text-decoration: none;
    transition: $smooth;
    &:hover {
      color: #55b0f0;
      font-size: 0.95em;
    }
    &.active {
      color: #2087d0;
    }
  }

  ul {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    font-size: larger;
    gap: 1.75em;
    justify-content: center;
    list-style: none;
    line-height: 1.5%;
    margin-bottom: 0;
    padding-left: 0%;
  }
}

/* profile icon */
.icon-closed {
  width: 50px;
  height: 50px;
  position: relative;
  z-index: 3;
  border-radius: 0.65rem;
  box-shadow: $container-shadow;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: $smooth;

  i {
    transform: scale(1.2);
    transition: $smooth;
  }

  &::before,
  &::after {
    content: "";
    display: block;
    position: absolute;
  }
}

.icon-open {
  width: 32px;
  height: 140px;
  border-radius: $container-radius;
  position: absolute;
  background: #fff;
  z-index: 2;
  padding: 0.5rem 1.5rem;
  box-shadow: $container-shadow;
  opacity: 0;
  top: 80px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  animation: close-animation 0.3s ease-out;

  i {
    color :#2087d0;
    opacity: 75%;
    transition: all 0.15s ease-in-out;
    &:hover {
      opacity: 100%;
    }
  }

}

input {
  cursor: pointer;
  position: absolute;
  z-index: 5;
  opacity: 0;
  margin-top: 1.15em;
  width: 3.15em;
  transform: scale(1.75);

  &:checked {
    ~ .icon-open {
      opacity: 1;
      animation: open-animation 0.3s ease-in-out;
    }
    ~.icon-closed {
      animation: wiggle 0.65s ease-in-out;
    }
  }

  &:hover {
    ~ .icon-closed i {
      color: #caa811;
    }
  }
}

/* home page */
.page-content {
  text-align: center;
  background-color: #f8f8f8d3;
  border-radius: 0.75em;
  max-width: 95vw;
  max-height: 95vh;
  margin: 0 auto;
  padding: 0.5em;
}
