@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&family=Didact+Gothic&family=MuseoModerno:ital,wght@0,100..900;1,100..900&family=Parkinsans:wght@300..800&display=swap');


:root {
    padding: 2vmax;
    overflow: hidden;
    /* cursor: url(https://cur.cursors-4u.net/nature/nat-10/nat997.cur), auto !important; */
}

body {
    font-family: "Archivo", Arial, Helvetica, sans-serif !important;
}

/* navigation bar */
.navbar {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    width: 100vw;
    box-sizing: border-box;
    position: relative;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    box-shadow: 0rem 0rem 0.875rem 0rem rgba(81, 117, 143, 0.4);
    border-radius: 0.75rem;
    position: relative;
    padding: 1.10em 1.5em 1.10em 1.5em;
}

nav > ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    gap: 1.75em;
    padding-left: 0%;
    margin-bottom: 0;
    font-size: larger;
    line-height: .90em;
}

nav a {
    text-decoration: none;
    font-weight: 600;
    color: black;
    transition: all 0.25s ease-in-out;
    display: inline-flex;
    font-size: .85em;
}

nav a:hover {
    color:#55b0f0;
    font-size: 0.95em;
}

nav a.active {
    color: #2087d0;
}
